name: Backend API CI/CD

on:
  push:
    branches: [ "main" ]
    paths:
      - "apps/api/**"
      - "libs/**"
      - "Dockerfile.api"
      - "package.json"
      - "nx.json"
      - "tsconfig.json"

jobs:
  build-and-push-api:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set image tags
        id: vars
        run: echo "sha_tag=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      - name: Build Docker Image (API)
        run: |
          docker build \
            -f Dockerfile.api \
            -t 179459139528.dkr.ecr.us-east-1.amazonaws.com/workspace-api:latest \
            -t 179459139528.dkr.ecr.us-east-1.amazonaws.com/workspace-api:${{ steps.vars.outputs.sha_tag }} .

      - name: Push Docker Images
        run: |
          docker push 179459139528.dkr.ecr.us-east-1.amazonaws.com/workspace-api:latest
          docker push 179459139528.dkr.ecr.us-east-1.amazonaws.com/workspace-api:${{ steps.vars.outputs.sha_tag }}
